* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

header {
    width: 100%;
    background-color: rgb(255, 255, 255);
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    padding: 15px 20px;
    list-style: none; 
    display: flex;
    justify-content: flex-end;
}

.box{
    background-color: rgb(255, 255, 255);
    
}

.box1, .box2 {
    padding: 10px;
}

.box3 {
    padding: 2px 8px;
}

.box4 {
    padding: 2px;
}

.box4 img {
    border-radius: 15px;
}

.logo {
    display: flex;
    justify-content: center;
}

.logo img {
    width: 500px;
    height: 180px;
}

.logo .compartir {
    position: relative;
    top: 15.0rem;
    right: 3.0rem;
    width: 2.2rem;
    height: 2.2rem;
}

.buscador {
    background: #fff;
    display: flex;
    justify-content: center;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    height: auto;
    width: 500px;
    margin: 40px auto;
    padding: 10px;
}

.texto {
    width: 100%;
    background-color: transparent;
    font-size: 1.6rem;
    border: none;
    outline: none;
}

.botones {
    display: flex;
    justify-content: center;
}

.boton {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.4rem;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}





